<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image for YOLO Detection</title>
  </head>
  <body>
    <h1>Upload Image for YOLO Detection</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <button type="submit">Upload</button>
    </form>
    {% if img_base64 %}
    <h2>Predicted Image</h2>
    <img src="data:image/png;base64,{{ img_base64 }}" alt="Predicted Image" />
    <h3>Predictions:</h3>
    <ul>
      {% for prediction in predictions %}
      <li>{{ prediction }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
